*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --icon-height: 1.5rem;
    --icon-gap: 1.5rem;
    --side-nav-color: rgba(25, 146, 212, 255);
    --box-shadow-setting: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
    color: black;
}

.sub-nav a:hover,
input.icon:hover,
button:hover,
.top-container a:hover,
.project .icon:hover {
    transition: scale 0.1s;
    scale: 1.1;
    cursor: pointer;
}

li {
    list-style: none;
}

.window {
    display: grid;
    grid-template-columns: 20rem 1fr;
}

.dashboard {
    margin: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: var(--icon-gap);
    font-size: xx-large;
}

.dashboard .icon {
    height: inherit;
}

.side-nav a:hover {
    transition: scale 0.2s;
    scale: 1.1;

    .icon {
        transition: transform 1s;
        transform: rotate(360deg);
    }
}

.icon {
    height: var(--icon-height);
}


.side-nav {
    background-color: var(--side-nav-color);
    font-weight: 700;
}

.side-nav a {
    color: white;
}

.sub-nav {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: var(--icon-gap);
    height: var(--icon-height);
    font-size: large;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main div {
    border: 1px solid purple;
}

.top-container {
    display: grid;
    padding: 0 clamp(0.5rem, var(--icon-gap), var(--icon-gap));
    gap: var(--icon-gap);
    padding-bottom: var(--icon-gap);
    box-shadow: var(--box-shadow-setting);
    z-index: 10000;
}

.top-user {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    .search-form {
        display: flex;
        gap: var(--icon-gap);
        padding-left: calc(var(--icon-gap));
    }

    .icon {
        height: var(--icon-height);
        gap: var(--icon-gap);
    }

    .search {
        appearance: none;
        flex: 1;
        max-width: 50rem;
        background-color: rgba(226,232, 240, 2);
        border: none;
        border-radius: 50px;
        padding: 0 0.5rem;
    }
}

.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--icon-gap);
    padding: 0 calc(var(--icon-gap));
}

.user {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--icon-gap);
}

.user-icon {
    height: calc(var(--icon-height) * 2.5);
    object-fit: fill;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
}

.user-name {
    font-size: large;
    font-weight: 600;
    padding: 0 var(--icon-gap);
}

.user-greet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: 500;
}

.big {
    height: calc(var(--icon-height) * 4);
}

.intro {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.name {
    font-size: xx-large;
    font-weight: 700;
}

.user-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--icon-gap);

    @media screen and (max-width: 1211px){
        grid-template-columns: auto;
    }

    .button {
        background-color: var(--side-nav-color);
        color: white;
        border: none;
        border-radius: 15px;
        width: 8rem;
        padding: 0.5rem 0rem;
        font-size: large;
    }
}

.main-content {
    background-color: rgba(226,232, 240, 2);
}

.main-content {
    padding: var(--icon-gap);
    display: grid;
    gap: var(--icon-gap);
    grid-template-areas: "main side";

    @media screen and (min-width: 1212px) {
        grid-template-columns: 1fr 20rem;
    }

    @media screen and (max-width: 1211px) {
        grid-template-areas:
        "main"
        "side" ;
    }
}

.projects {
    grid-area: main;
}

.section-header {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 1ch;
}

.project-cards {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 2fr));
    gap: var(--icon-gap);
}


.project {
    background-color: white;
    box-shadow: var(--box-shadow-setting);
    padding: 1.5rem 1.5rem 0;
    height: 10rem;
    border-radius: 10px;
    display: grid;
    background-image: -webkit-linear-gradient(left, #f8b703, #f8b703 1.5%, transparent 1.5%, transparent 100%);


    .icon {
        margin: 0 var(--icon-gap) 0 0;
    }
}

.project:hover {
    transition: scale 0.1s;
    scale: 1.02;
}

.header {
    font-size: large;
    font-weight: 500;
}

.subtext {
    font-size: 1rem;
    color: gray;
}

.project-icons {
    justify-self: flex-end;
}

.side-bar {
    grid-area: side;
}

