*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.window {
    display: grid;
    grid-template-columns: 20rem 1fr;
}

.dashboard {
    margin: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.dashboard:hover {

    .dashboard-icon {
        transition: transform 1s;
        transform: rotate(360deg);
    }
}

.icon {
    height: inherit;
}


.side-nav {
    background-color: rgba(25, 146, 212, 255);
}

.side-nav a {
    color: white;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 1.5rem;

}

.main-content {
    border: 1px solid purple;
    display: grid;
    grid-template-rows: 100px 200px 1fr;
}

.main-content div {
    border: 1px solid purple;
}