*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --icon-height: 1.5rem;
    --icon-gap: 1.5rem;
    --side-nav-color: rgba(25, 146, 212, 255);
    --box-shadow-setting: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
}

a:hover,
input.icon:hover,
button:hover {
    transition: scale 0.1s;
    scale: 1.1;
    cursor: pointer;
}

li {
    list-style: none;
}

.window {
    display: grid;
    grid-template-columns: 19rem 1fr;
}

.dashboard {
    margin: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: xx-large;
}

.side-nav a:hover {
    transition: scale 0.2s;
    scale: 1.1;

    .icon {
        transition: transform 1s;
        transform: rotate(360deg);
    }
}

.icon {
    height: inherit;
}


.side-nav {
    background-color: var(--side-nav-color);
    font-weight: 700;
}

.side-nav a {
    color: white;
}

.sub-nav {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: var(--icon-gap);
    height: var(--icon-height);

}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main div {
    border: 1px solid purple;
}

.top-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: var(--icon-gap);
    padding-bottom: var(--icon-gap);
    box-shadow: var(--box-shadow-setting);
    z-index: 10000;
}

.top-user {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    .search-form {
        display: flex;
        gap: var(--icon-gap);
        padding-left: calc(var(--icon-gap));
    }

    .icon {
        height: var(--icon-height);
        gap: var(--icon-gap);
    }

    .search {
        appearance: none;
        flex: 1;
        max-width: 50rem;
        background-color: rgba(226,232, 240, 2);
        border: none;
        border-radius: 50px;
        padding: 0 0.5rem;
    }
}

.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--icon-gap);
    padding: 0 calc(var(--icon-gap));
}

.user {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--icon-gap);
}

.user-icon {
    height: calc(var(--icon-height) * 2.5);
    object-fit: fill;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
}

.user-name {
    font-size: large;
    font-weight: 600;
    color: black;
    padding: 0 var(--icon-gap);
}

.user-greet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: 500;
    padding: 0 2rem;
}

.big {
    height: calc(var(--icon-height) * 4);
}

.intro {
    display: grid;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    color: black;
}

.name {
    font-size: xx-large;
    font-weight: 700;
}

.user-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--icon-gap);

    @media screen and (max-width: 950px){
        grid-template-columns: auto;
    }

    .button {
        background-color: var(--side-nav-color);
        color: white;
        border: none;
        border-radius: 15px;
        padding: 0.4rem 1.5rem;
        font-size: large;
    }
}

.main-content {
    background-color: rgba(226,232, 240, 2);
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 20rem;
}